/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/.rspec_status
spec/.rspec_status
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/log/*.log
/spec/dummy/storage/
/spec/dummy/tmp/
/vendor/**/*
/.byebug_history
/spec/.rspec_status
/spec/dummy/.byebug_history
.env
/spec/dummy/.env
/docs/**/*
/.codex